@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  color: var(--color-text);
}

p {
  font-family: var(--font-secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-text: #48466d;
  --color-text-secondary: #575455;
  --color-primary: #ff9e9e;
  --color-secondary: #b1e0da;
  --color-primary-dark: #ed9393;
  --color-secondary-dark: #83d1c7;
  --font-primary: 'Fredoka', sans-serif;
  --font-secondary: 'Inter', sans-serif;
  --color-primary-soft: #fff8f8;
  --color-secondary-soft: rgb(177,224,218,.08);
}

legend {
  display: none !important;
}